.container0{background-color: 	#E97451; margin:10px;}
.container{background-color: #E1C16E; margin:10px;}
.container1{background-color: #DAA06D; margin:10px;}
header{text-align: center;}
headder,p,h1,h3,label{text-decoration: solid;}
.input-group{

}
.input-radio{display:block;

}
.user-details{
    display:block
}

.checkbox{display:block
}
.comments{
  display:block;
  width:auto;
    height: max-content;

}
.input-group{

}
.input-dropdown{

}
