.container0{background-color: 	#716F56; margin:10px;}
.container{background-color: #8D8C78; margin:10px;
border-radius: 20px;}
.container1{background-color: #D1D0C8; margin:10px;
border-radius: 10px;
padding-top: 2rem;
padding-bottom: 1rem;
margin:5rem;}
header{text-align: center;
text-decoration: solid;}
p,h1,h3,label{text-decoration: solid;}

 .input-radio{display:block;}

 .checkbox{display:block;}
 .comments{
    color:black;
    background-color: #EFEFEF;
 }

  .info label, .info input{
    display: inline-block;
  }
  .info label{
    text-align: right;
    width: auto;
  }
  .info input{
    text-align: left;
    width: 50%;

  }
  label {display: inline;
  align-items: center;
  font-size: 1.125rem;
  margin-bottom: 0.5rem;}

  input,button,select,textarea { margin: 1px;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;}

  .submit-button{ 
  width: 100%;
  max-width:50%;
  padding: 0.75rem;
  margin-top: 2rem;
  margin-bottom: 1rem;
  background: var(--color-green);
  color: inherit;
  border-radius: 20px;
  border-color: burlywood;
  cursor: pointer;}
  .submit-design{
    display: flex;
    justify-content: center;
  }

  .input-dropdown{
    width:100%}

    footer{
        text-align: center;
    }
    form{
        padding: 1em;
    }
  
#question{
    padding-top: 30px;
}
